<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.biblia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/biblia_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/biblia_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeInit">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLibros"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>